{
  "plugins": [
    "react-hot-loader/babel",
    ["import", { "libraryName": "antd", "libraryDirectory": "lib", "style": "css"}, "ant"],
    ["import", { "libraryName": "lodash", "libraryDirectory": "" }, "lodash"],
  ],
  "presets": ["react-app"]
}